.bundle
db/*.sqlite3
log/*.log
tmp/

# ignore generated css
public/stylesheets/screen.css
public/stylesheets/print.css
public/stylesheets/ie.css
public/stylesheets/schedule.css
public/stylesheets/people.css
