.container
  .row.content#schedule
    %h2 Schema
    - @today = Date.today 
    - @days.each do |day|
      .day
        - if day.date == @today
          .date.today
            = day.date.day
        - else
          .date
            = day.date.day
        %h3
          = day.title
        %p.content
          = day.text
      .clear
