.container
  .row.content#schedule
    - @today = Date.today 
    - @days.each do |day|
      .day
        - if day.date == @today
          .date.today
            = day.date.day
        - else
          .date
            = day.date.day
        .text
          %h3
            = day.title
          %p
            = day.text
        .clear
