#schedule {
    .day {
        border-bottom: 1px solid #CCC;
        margin-bottom: 5px;
        min-height: 100px;
        
        &:last-child {
            border: 0;
            margin-bottom: 0;
        }
        
        h3 {
            display: inline;
            font-size: 1.5em;
        }
        
        p {
            display: inline;
        }
        
        .timeedit {
            float: right;
            font-size: 0.8em;
            min-height: 100px;
            width: 200px;
            
            .time {
                font-weight: bolder;
            }
        }
        
        .date {
            $date-border-radius: 5px;
            
            -webkit-border-radius: $date-border-radius;
            -moz-border-radius: $date-border-radius;
            border-radius: $date-border-radius;
            border: 2px solid transparent;
            float: left;
            font-size: 2em;
            text-align: center;
            margin: 0.5em;
            line-height: 60px;
            width: 60px;
            height: 60px;
            
            &.active {
                background-color: #3B3;
                color: #fff;
            }
            
            &.today {
                $today-shadow-color: #888;
                
                border-color: #D602AC;

                -moz-box-shadow: 0px 3px 4px $today-shadow-color;
                -webkit-box-shadow: 0px 3px 4px $today-shadow-color;
            	box-shadow: 0px 3px 4px $today-shadow-color;
            	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#{$today-shadow-color}')";
            	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#{$today-shadow-color}');
            }
        }
    }
}

@media handheld, only screen and (max-width: 480px) {
    #schedule {
        .day {
            .date {
                &.active {
                    background: none;
                    color: #666;
                }
            }
        }
    }
}