#schedule {
    .day {
        border-bottom: 1px solid #CCC;
        margin-bottom: 5px;
        min-height: 100px;
        
        &:last-child {
            border: 0;
            margin-bottom: 0;
        }
        
        h3 {
            display: inline;
            font-size: 1.5em;
        }
        
        p {
            display: inline;
        }
        
        .date {
            border: 2px solid transparent;

            float: left;
            font-size: 2em;
            text-align: center;

            margin: 0.5em;

            line-height: 60px;
            width: 60px;
            height: 60px;

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            
            &.active {
                background-color: #3B3;
                color: #fff;
            }
            
            &.today {
                border-color: #D602AC;

                -moz-box-shadow: 0px 3px 4px #888;
                -webkit-box-shadow: 0px 3px 4px #888;
            	box-shadow: 0px 3px 4px #888;
            	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#888')";
            	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#888');
            }
        }
    }
}

@media handheld, only screen and (max-width: 480px) {
    #schedule {
        .day {
            .date {
                &.active {
                    background: none;
                    color: #666;
                }
            }
        }
    }
}