/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
    background: #fff url('../images/base/bg.jpg') repeat top left;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    color: #666;
}

/* Adjust max width */
.row {
    max-width: 960px;
}

a { color: #3366da;outline:0px; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    line-height: 2em;
}

h3 {
    font-size: 1.5em;
    line-height: 1.5em;
}

.clear {
    clear: both;
}

.content {
    $content-border-color: #AAA;
    $content-border-radius: 5px;
    $content-shadow-color: #999;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    -moz-box-shadow: 0 0 7px $content-shadow-color;
    -webkit-box-shadow: 0 0 7px $content-shadow-color;
    box-shadow: 0 0 7px $content-shadow-color;
    
    -moz-border-radius: $content-border-radius;
    -webkit-border-radius: $content-border-radius;
    border-radius: $content-border-radius;
    
    border: 2px solid $content-border-color;
    border-top: 1px solid $content-border-color;
    background: white;
    margin-bottom: 20px;
    padding: 10px;
}

#header-fake {
    height: 74px;
}

#header {
    background-color: #191919;
    border-bottom: 2px solid #619A87;
    padding: 20px 0px 0px 0px;
    height: 52px;
    color: #fff;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 10;
    
    .row {
        max-width: 1024px;
    }
    
    img.logotype {
        float: left;
        width: 155px;
        margin-top: 4px;
    }
    
    #days {
        float: left;
        margin-left: 45px;
        margin-top: 15px;
        
        h4 {
            line-height: 27px;
            margin: 0px 10px;
            float: left;
            text-transform: uppercase;
        }
        
        ul {
            display: inline;
            
            li {
                $border-radius: 6px;
                
                -moz-border-radius: $border-radius;
                -webkit-border-radius: $border-radius;
                border-radius: $border-radius;
                
                float: left;
                display: inline;
                padding: 3px 6px;
                border: 0px;
                cursor: pointer;
                
                &.active {
                    background: #57C914;
                    font-size: 180%;
                    padding: 10px 8px;
                    position: relative;
                    top:-7px;
                }
                
                &.today {
                    border: 2px solid #D602AC;
                }
                
                &:hover {
                    color:#57C914;
                }
                
                &:hover.active{
                    color:#fff;
                }
            }
        }
    }
}

#welcome-msg img {
    display: block;
    margin: 20px auto;
    width: 394px;
}

#sponsors {
    
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 480px) {
    
    .content {
        border: 0;
        
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
    
    #days {
        display: none;
    }
}

@media handheld, only screen and (max-width: 320px) {

	#welcome-msg {
	    display: none;
	}

}