#schedule .clear {
    clear: both;
}

#schedule .day {

}

#schedule .day h2 {
    display: inline;
}

#schedule .day p {
    display: inline;
}

#schedule .day .date {
    border: 3px solid transparent;
    
    float: left;
    font-size: 2em;
    text-align: center;
    
    margin: 0.5em;
    
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#schedule .day .date.current {
    background-color: #3B3;
    color: #fff;
}

#schedule .day .date.today {
    border-color: #FF007F;
    
    -moz-box-shadow: 0px 3px 4px #888;
    -webkit-box-shadow: 0px 3px 4px #888;
	box-shadow: 0px 3px 4px #888;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#888')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#888');
}