{% extends "base.html" %}
{% load url from future %}

{% block title %}Score administration{% endblock %}

{% block includes %}
	<script src="http://code.jquery.com/jquery-latest.js"></script>
{% endblock %}
	
{% block content %}
	<h3>Unregistered</h3>
	<form action="/score/admin/" method="post">
		{% csrf_token %}
		<select name="scores" multiple>
			{% for score in unregistered %}
			<option value= {{ score.id }}>{{ score }}</option>
			{% endfor %}
		</select><br/>
		<input type="submit" value="Register scores">
	</form>
	
	<h3>Registered</h3>
	
	<ul>
	{% for day in registered %}
		<li>
			{% for name, scores in day.items %}
			    <a href="#" id="{{ name.date }}_toggle">{{ name }}</a>
				<ul id="{{ name.date }}" style="display: none;">
					{% for score in scores %}
						<li>{{ score }}</li>
					{% endfor%}
				</ul>
			{% endfor %}
		</li>
	{% endfor %}
	</ul>
	
	<script>
	var days = [];
	{% for day in registered %}
		{% for name, scores in day.items %}
			days.push({{ name.date }});
		{% endfor %}
	{% endfor %}
	$.each(days, function(index, date) {
		$("#"+date+"_toggle").click(function() {
			$("#"+date).toggle("slow");
		});
	});
	</script>
{% endblock %}